:root{
    --primary-color: #4e73df;
    --temp-color: #1b378a;
    --secondary-color: #858796;
    --dark-color: #5a5c69;
    --white-color: #f5f5f5;
    --red-color: #cb1c22;
    --orange: #fd7e14;
    --yellow: #f6c23e;
    --teal: #20c9a6;
    --danger: #e74a3b;
    --success: #1cc88a;
    --info: #36b9cc;
    --warning: #f6c23e;
    --text-color: #333;
    --border-color: #DBDBDB;

    --sidebar-width: 260px
}
*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}


/* Responsive */
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid_full-width{
    width: 100%;
}
.grid_row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}
.grid_col-2{
    padding-left: 12px;
    padding-right: 12px;
    width: 16.6667%;
}
.grid_col-2-4{
    padding-left: 12px;
    padding-right: 12px;
    width: 20%;
}
.grid_col-3{
    padding-left: 12px;
    padding-right: 12px;
    width: 25%;
}
.grid_col-4{
    padding-left: 12px;
    padding-right: 12px;
    width: 33.3333%;
}
.grid_col-6{
    padding-left: 12px;
    padding-right: 12px;
    width: 50%;
}
.grid_col-9{
    padding-left: 12px;
    padding-right: 12px;
    width: 75%; 
}
.grid_col-10{
    padding-left: 12px;
    padding-right: 12px;
    width: 83.3333%; 
}
.grid_col-12{
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
}


/* Animation */
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes growth{
    from{
        transform: scale(var(--growth-from));
    }
    to{
        transform: scale(var(--growth-to));
    }
}


/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
  }
.modal_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal_body {
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    position: relative;
    z-index: 999;
    border-radius: 5px;
    animation: growth linear 0.1s;
}


/*  Button  */
.button{
    min-width: 124px;
    height: 36px;
    text-decoration: none;
    border: none;
    background-color: #F3F4F6;
    color: var(--text-color);
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    font-size: 1.4rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.button.button-normal:hover{
    background-color: rgba(0, 0, 0, 0.1) ;
}
.button.button-general{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.button.button-dangerous{
    background-color: var(--red-color);
    color: var(--white-color);
}
.button.button_disable{
    cursor: default;
    background-color: #c3c3c3;
    color: #949494;
}
.button .button-s{
    min-width: 100px;
    height: 30px;
    font-size: 1.2rem;
    padding: 0 8px;
}
.button-edit{
    width: 60px;
    height: 36px;
    text-decoration: none;
    border: none;
    background-color: #F3F4F6;
    color: var(--text-color);
    border: 1px solid #E5E7EB;
    border-radius: 2px;
    font-size: 1.3rem;
    padding: 0 2px;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


/*Selection */
.select-input{
    height: 36px;
    min-width: 200px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.select-input_label{
    color: var(--text-color);
    font-size: 1.4rem;
}
.select-input_icon{
    font-size: 1.4rem;
    color: rgb(131, 131, 131);
    position: relative;
    top: 1px;
}
.select-input_list{
    position: absolute;
    list-style: none;
    top: 30px;
    left: 0;
    right: 0;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 8px 12px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 4;
    /* animation: fadeIn 0.1s; */
}
/* Lớp giả để làm cầu khi hover */
.select-input_list::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 8px;
    top: -4px;
    right: 2px;
    display: block;
}
.select-input_link{
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 6px 0;
}
.select-input:hover .select-input_list{
    display: block;
}
.select-input_link:hover{
    color: var(--primary-color);
}


/* Container */
.container{
    width: calc(100% - 260px);;
    height: 100%;
    position: relative;
    left: var(--sidebar-width);
    padding: 6px 6px 6px 14px;
    margin-bottom: 30px;
}

/* Title */
.container-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    box-shadow: inset 0 -2px 0 0 var(--border-color);
    padding-bottom: 12px;
}
.container-title h2{
    font-size: 2rem;
    color: var(--text-color);
}
.container-title_btn{
    margin-right: 6px;
}
.title-btn{
    border-radius: 8px;
    font-size: 1.8rem;
}


/* Main Content */
.main-content{
    margin-top: 20px;
}
.main-list{
    margin-bottom: 30px;
}
.main-content_control{
    /* width: calc(100% - 280px); 300 = */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-content_btn{
    margin-right: 8px;
}


/* Fixed Menu Control */
/* .main-list{
    position: relative;
} */


/* Content Table*/
.main-table {
    width: calc(100% - 8px);
    margin-top: 20px;;
    overflow: auto;
}
    .content-title{
        font-size: 1.8rem;
        color: var(--text-color);
        font-weight: 600;
    }
/* 
    .main-table {
        padding-right: 20px;
    } */
    .main-table_content{
        border-collapse: collapse;
        width: 100%;
        font-size: 1.3rem;
        color: var(--text-color);
    }
    .main-table_content th, td {
        border: 1px solid #ccc;
        text-align: left;
        padding: 12px;
        white-space: nowrap; /* Ngăn chặn văn bản xuống dòng */
        text-align: center;
    }
    .main-table_content th{
        background-color: var(--primary-color);
        color: var(--white-color);
    }
    .tb_input{
        width: 100px;
        padding: 4px 0 4px 4px;
        font-size: 1.4rem;
        text-align: center;
        color: var(--text-color);
        outline: none;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 2px
    }
    .main-table_content tr:nth-child(even) {
        background-color: #ededed;
    }
    .main-table_content tr:hover,
    .main-table_content tr:focus{
        background-color: #d0d3db;
    }

    /* Button of Table */
    .check{
        color: #48bb78;
        display: block;
        padding: 12px 24px;
    }
    .exit{
        color: var(--red-color);
        display: block;
        padding: 12px 24px;
    }
    .btn-edit{
        padding: 12px 0!important;
        width: 134px
    }
    .button-edit{
        padding: 12px 0!important;
    }
    .btn-update{
        color: var(--white-color);
        background-color: var(--orange);
        border-radius: 5px;
        margin-right: 4px;
    }
    .btn-delete{
        color: var(--white-color);
        background-color: var(--red-color);
        border-radius: 5px;
    }
    .btn-update:hover{
        background-color: rgba( 253, 126, 20,0.5);
        border: 2px solid var(--orange);
    }
    .btn-delete:hover{
        background-color: rgba( 203, 28, 24, 0.5);
        border: 1px solid var(--red-color);
    }

/* Insert */
.insert_form{
    margin-bottom: 20px;
    padding-left: 20px;
}
/*Update Form  */
.form-input{
    margin-top: 22px;
}
.form_label{
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
    margin-bottom: 6px;
}
.form_input{
    width: 299px;
    padding: 4px 0 4px 4px;
    font-size: 1.4rem;
    color: var(--text-color);
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 2px;
}
.form-control{
    margin: 20px 0;
}
.form-img{
    width: 70px;
}
.disable-input{
    background-color: rgba(0, 0, 0, 0.1);
}

.main_form-s{
    padding-left: 20px;
    margin-bottom: 32px;
}
.main_form{
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}
.main-form_left{
    flex: 1;
    padding-left: 20px;
}
.main-form_right{
    flex: 1;
}
/* Layout */
.no-item{
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.no_item-title{
    font-size: 3.2rem;
    color: var(--text-color);
}